/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.tsx","import":"Lora","arguments":[{"subsets":["latin"]}],"variableName":"lora"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: '__Lora_Fallback_2c810c';
  src: local("Times New Roman");
  ascent-override:87.33%;
  descent-override:23.78%;
  line-gap-override:0.00%;
  size-adjust:115.20%;
}@font-face {font-family: '__Lora_Fallback_Fallback_2c810c';src: local("Times New Roman");ascent-override: 87.33%;descent-override: 23.78%;line-gap-override: 0.00%;size-adjust: 115.20%
}.__className_2c810c {font-family: '__Lora_Fallback_2c810c', '__Lora_Fallback_Fallback_2c810c';font-style: normal
}
